@keyframes rotate-slow {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


.sping-slow{
    animation: rotate-slow 5s linear infinite;
}
.sping-slow-hover:hover{
    animation: rotate-slow 5s linear infinite;
}